.main-form{
    width: 80%;
    color: #212148;
    padding: 2.5rem 3rem;
    padding-top: 1.8rem;
    background-color: #fafaf8;
    border-radius: 8px;

}

.form-header{
   padding-bottom: 1rem;
}

.line{
    border-color: #aeaeae;
    opacity: .4;
    margin-right: auto;
    margin-left: auto;
}

.form-body{
    display: block;
    font-size: 1rem;
    width: 100%;
    margin-top: 2rem;
}

.form-group{
    display: block;
    width: 100%;
    margin-bottom: 1.8rem;
}

.form-group:last-child{
    margin-bottom: 0;
}

.form-group:not(:last-child){
    margin-right: 2rem;
}

.form-group .form-label{
    margin-bottom: .67rem;
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
}

.form-text{
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px #aeaeae solid;
    transition-duration: .4s;
}

.form-text:focus{
    border: 3px solid #8a8ae4;
    box-shadow: 0 4px 11px #cdcdaa;
    outline: none;
}

.form-heading{
    margin: 0;
}

.form-button{
    font-size: 1.2rem;
    background-color: #212148;
    color: #fdf;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .5rem 1rem;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.form-button:hover{
    box-shadow: 0 4px 11px #babacd;
}

.form-error{
    color: #f66;
}

.loading{
    width: 100%;
    margin-top: 1.5rem;
    height: 1.5rem;
    background-color: #dcdcff;
    animation: load 1s linear infinite;
  }
  
  @keyframes load{
    0%{
      opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }

.form-footer{
    margin-top: 1.5rem;
    padding: 5px 1.3rem;
    border: 3px solid #4f6;
    background-color: #afb;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}

.form-footer p{
    margin: 0;
}

@media(min-width: 768px){
    .main-form{
        width: 50vw;
    }
    .form-body, .line{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .loading{
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    
    .form-footer{
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
}