.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.3rem;
  margin-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

.top-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.top-section .content{
  text-align: center;
}

.text-center{
  text-align: center;
}

.heading{
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.7rem;
}

.paragraph{
  margin-right: 1.4rem;
  margin-left: 1.4rem;
  margin-bottom: 0.7rem;
}

.img-container{
  width: 70%;
  background-color: #a3a3f1;
  border-radius: 50%;
  filter: brightness(1.5);
}

.full-width{
  width: 100%;
}



.footer{
  font-size: 1rem;
  padding: .5rem 0;
  bottom: 0;
}


@media(min-width: 768px){
  .img-container{
    width: 40%;
  }

  .top-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 4rem;
  }

  .top-section .content{
    text-align: left;
    margin-right: .5rem;
  }

  .heading{
    font-size: 6vmin;
  }
}

@media(min-width: 1024px){
  .img-container{
    width: 30%;
  }
  .content{
    width: 55%;
  }
  .heading{
    font-size: 8vmin;
  }
}