fastapi==0.95.2
gunicorn
psycopg2==2.9.6
asyncpg==0.27.0
aiosqlite==0.19.0
greenlet
pydantic==1.10.8
python-dotenv
SQLAlchemy
uvicorn
sqlmodel==0.0.8
ip2geotools
alembic==1.11.1
bcrypt
fastapi-login
resend